.renda-fixa {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .card {
    min-width: 350px;
    margin: 20px;
    padding: 16px 16px 0 16px;
    display: inline-block;
    border: solid 1px #e2e8f0;
    border-radius: 8px;
    background-color: #f1f5f9;
    box-shadow: -6px 7px 5px 0px #e2e8f0;
    cursor: pointer;

    &:hover {
      transform: translate(10px, -10px);
      transition: all 0.3s;
    }

    &:not(:hover) {
      transform: translate(0, 0);
      transition: all 0.5s;
    }

    &__title {
      font-weight: bold;
      font-size: 1.2rem;
      margin-bottom: 8px;
    }

    &__footer {
      text-align: right;
    }
  }
}
